.searched-book-item {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 40px; /* 위 20px, 오른쪽 0px, 아래 20px, 왼쪽 40px */
  width: 80%;
  height: auto;
  background-color: #ffffff; /* 배경색 */
}

.searched-book-image {
  border-radius: 10px; /* 모서리 둥글게 */
  overflow: hidden; /* 내용이 넘치면 숨김 */
  width: 200px; /* 카드 너비 */
  height: 280px; /* 카드 높이 고정 */
}

.searched-book-details {
  margin-left: 60px;
  margin-bottom: 150px;
  text-align: justify;
  text-align-last: left;
}

.searched-book-title {
  color: #003fbc;
  font-family: 'NanumSquareRound';
  font-size: 20px; /* 폰트 크기 조정 */
  font-weight: 900;
}

.searched-book-author {
  color: #000;
  font-family: 'NanumSquareRound';
  font-size: 15px; /* 폰트 크기 조정 */
  font-weight: 500;
}
