  .mbti-result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
    height: 100vh; /* 부모 높이 고정 */
    background-size: cover;
  }

  .mbti-info-container {
    width: 1080px;
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    height: 65%; 
    background-color: #FFFEE4;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }

  .mbti-info-section {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    width: 1080px;
    height: 500px;
  }
  
  .mbti-info-title {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    color: #31241c;
    font-family: 'Cafe24Ssurround';
    letter-spacing: -1.5px;
    font-size: 38px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .child-info-section {
    display: flex; /* Flexbox 사용 */
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
  }
  
  .profile-section {
    flex: 2; /* 2 부분 차지 */
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    margin-left: 100px;
  }
  
  .profile-image {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    margin : 10px;
  }
  
  .mbti-type
  {
    font-family: 'Cafe24Ssurround';
    letter-spacing: -1.5px;
    font-size: 30px;
    font-style: normal;
    text-align: center;
  }
  
  .mbti-tag
  {
    font-family: 'NanumSquareRound';
    font-size: 16px;
    font-style: normal;
    text-align: center;
  }
  
  .mbti-bar-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .left-label {
    flex: 1; /* 동일한 너비 */
    justify-content: left; /* 수평 왼쪽 정렬 */
  
    font-family: NanumSquareRound;
    font-size: 14px;
  
    display: flex;
    align-items: flex-end; /* 요소들을 수직 아래로 정렬 */
  }
  
  .center-label {
    flex: 1; /* 동일한 너비 */
    justify-content: center; /* 수평 중앙 정렬 */
    
    font-family: NanumSquareRound;
    font-size: 20px;
    font-weight: bold;
  
    display: flex;
    align-items: flex-end; /* 요소들을 수직 아래로 정렬 */
  }
  
  .right-label {
    flex: 1; /* 동일한 너비 */
    justify-content: right; /* 수평 오른쪽 정렬 */
    
    font-family: NanumSquareRound;
    font-size: 14px;
  
    display: flex;
    align-items: flex-end; /* 요소들을 수직 아래로 정렬 */
  }
  
  .mbti-detail-section {
    flex: 3; /* 3 부분 차지 */
    margin-top: 20px;
    margin-right: 100px;
    
  }
  
  .bar-container {
    display: flex;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 18px;
  }
  
  .bar-left, .bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .bar-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .percentage {
    padding: 5px;
    font-family: NanumSquareRound;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  

.delete-button, .home-button {
  background-color: #e54851;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  font-family: 'NanumSquareRound';
  font-size: 28px;
  font-weight: 900;
  text-align: center;

  display: flex; /* flexbox를 사용 */
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */

  transition: background-color 0.3s;
  
  width: 265px;
  height: 60px;
}

.delete-button:hover, .home-button:hover {
  background-color: #d43b4a;
}
