
.mbti-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 800px;
  background-size: cover;
}

.ggumi-logo-container {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  width: 347.876px;
  height: 151.069px;
  margin-top: 100px;
  gap : 5px;

}

.ggumi-heart-logo {
  width: 101.124px;
  height: 90.118px;
  flex-shrink: 0;
}

.main-title {
  font-family: 'RixInooAriDuriR';
  font-size: 120px;
  font-style: normal;
  color: #FF4A4A;
  margin-top: 10px;
}

.sub-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 567px;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.sub-title {
  color: #535151;
  text-align: center;
  font-family: 'Cafe24Ssurround';
  letter-spacing: -1.5px;
  font-size: 50px;
}

.sub-title2 {
  color: #e54851;
  text-align: center;
  font-family: 'Cafe24Ssurround';
  letter-spacing: -1.5px;
  font-size: 50px;
}

.explanation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 567px;
  height: auto;
}

.question-explanation {
  color: #535151;
  text-align: center;
  font-family: 'NanumSquareRound';
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px; /* 160% */
  letter-spacing: -0.66px;
  margin: 0px;
}

.time-explanation {
  color: #31241c;
  text-align: center;
  font-family: 'NanumSquareRound';
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px; /* 160% */
  letter-spacing: -0.66px;
  margin: 0px;
}


.start-button {
  background-color: #e54851;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  font-family: 'NanumSquareRound';
  font-size: 28px;
  font-weight: 900;
  text-align: center;

  display: flex; /* flexbox를 사용 */
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */

  transition: background-color 0.3s;
  
  width: 266px;
  height: 63px;
}

.start-button:hover {
  background-color: #d43b4a;
}