.apply-background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.apply-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
}

.apply-sub-title {
  width: 611px;
  height: 60px;
  flex-shrink: 0;
  color: #272026;
  text-align: center;
  font-family: "STIX Two Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 250% */
  letter-spacing: -0.528px;
}

.apply-title {
  color: #7d57da;
  font-family: "STIX Two Text";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 87.273% */
  letter-spacing: -1.21px;
  margin-top: 53px;
}

.apply-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 125px;
}

.guide-container {
  width: 600px;
  height: 600px;
  margin-left: 100px;
}

.period-container,
.result-announcement-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry-button {
  background-color: #c9b7f8; /* 연보라 색 */
  color: white;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px; /* 버튼의 굵곡을 30%로 설정 */
  margin-top: 10px;
  width: 141px; /* 너비 설정 */
  height: 30px; /* 높이 설정 */
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry {
  color: #fff5fe;
  text-align: center;
  font-family: "STIX Two Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.explanation {
  color: #272026;
  text-align: center;
  font-family: "STIX Two Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.528px;
  margin-left: 15px;
  margin-bottom: 13px;
}

.event-books-container {
  width: 650px;
  height: 359px;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid #ccc; /* 연한 회색 테두리 */
  border-radius: 30px; /* 둥근 모서리 설정 */
  padding: 20px; /* 내부 여백 추가 */
  width: 440px;
  height: 584px;
  margin-left: 140px;
  margin-bottom: 100px;
  margin-right: 100px;
}

.info-title {
  color: #9d7ef4;
  font-family: "STIX Two Text";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  letter-spacing: -0.704px;
}

.info-subtitle {
  color: #272026;
  text-align: center;
  font-family: "STIX Two Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  letter-spacing: -0.44px;
}

.name-input-box,
.phone-input-box {
  width: 362px;
  height: 66px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: "STIX Two Text";
  font-size: 20px;
  color: #989898;
  line-height: 66px;
  margin-top: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name-input-box:focus,
.phone-input-box:focus {
  outline: none;
  border-color: #48484b;
  color: black;
}

.name-input-box::placeholder,
.phone-input-box::placeholder {
  color: #989898; /* 플레이스홀더 색상 설정 */
  text-align: center; /* 플레이스홀더 중앙 정렬 */
}

.agree-container {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.agree-box {
  width: 29px;
  height: 29px;
  border: 1px solid black;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer; /* 커서 변경 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.agree-box.checked {
  background-color: #bca5f6; /* 체크된 상태의 배경색 */
  border: 1px solid #7d57da; /* 체크된 상태의 테두리색 */
}

.agree-box.checked::after {
  content: "✔"; /* 체크 표시 */
  color: white; /* 체크 표시 색상 */
  font-size: 20px; /* 체크 표시 크기 */
}

.agree-comment {
  color: #170f0f;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "STIX Two Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 194.444% */
  letter-spacing: -0.396px;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 정렬 */
  margin-left: 10px;
}

.agree-text {
  color: #170f0f;
  font-family: "STIX Two Text";
  font-size: 18px;
  font-style: normal;
  letter-spacing: -0.396px;
  text-decoration-line: underline;
}

.agree-yes {
  color: #989898;
  font-family: "STIX Two Text";
  font-size: 18px;
  font-style: normal;
  letter-spacing: -0.396px;
}

.event-participation-button {
  width: 362px;
  height: 66px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #bca5f6;
  border: 1px solid #ffe9e9;
  border-radius: 15px;
  color: white;
  font-family: "STIX Two Text";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 20px;
}

.event-participation-button:hover {
  background: rgba(96, 10, 65, 0.3); /* 호버 시 배경색 변경 */
}
